a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px;
}

.auth-form {
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 30px;
}

.page-style {
  margin-top: 25px;
  padding-top: 25px;
  border-top: 1px solid #efefef;
}

.filter {
  padding: 15px;
  background-color: rgba(211, 211, 211, 0.3);
  border-radius: 4px;
}

.disabled-row {
  background-color: #ccc;
  color: #666;
  pointer-events: none;
}